<ion-view>
  <ion-content class="has-header has-tabs">

    <ion-list can-swipe="true">
      <ion-item ng-repeat="bill in bills">
        <h2 style="font-weight: bold"> {{bill.produto}} </h2>
        <p> R${{bill.valor}} | Installments: {{bill.parcelas}} | {{bill.data}}</p>
        
        <ion-option-button class="button-assertive" ng-click="deleteSelectedBill(bill)"> Delete </ion-option-button>
        <ion-option-button class="button" ng-click='openEditForm(bill)'> Edit </ion-option-button>

        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
